.config-view {
    padding: 2rem;
}

.botones-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}

.botones-div button {
    padding: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.mostrar-div {
    width: 100%;
    min-height: 200px;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-mensaje {
    height: 10rem;
    color: rgb(39, 39, 39);
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    display: flex;
    align-items: center;
}