.div-grado{
   width: 100%;
   height: 6rem;
   color: rgb(0, 0, 0);
   border:1px  solid #11100f;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.6rem;
   font-weight: 800;
   cursor: pointer;
   text-decoration: none;
}
.completado {
    background-color: #d4edda;
    color: #155724;
    border-left: 4px solid #28a745;
}
.no-completado {
    background-color: #f8d7da;
    color: #721c24;
    border-left: 4px solid #dc3545;
}