* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 40rem;
    margin: auto;
    font-family: "Roboto Mono", monospace;
    background-color: #f5f8ff;
    color: #333;
}

html {
    font-size: 10px;
    font-family:monospace;
}

:root {
    --naranja: #EEA63A;
}

input,
textarea,
select {
    font-size: 16px;
}