
:root {
    --naranja: #EEA63A;
}

input,
textarea,
select {
    font-size: 16px;
}

/* Media Query para celular */
@media (max-width: 600px) {
  body {
    padding: 1rem;
  }

  .container {
    max-width: 100%;
    padding: 1rem;
  }
}

/* Media Query para tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 70rem;
  }
}