* {
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.logo {
    font-weight: bold;
    font-size: 1.2em;
    color: #3366ff;
}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #666;
    font-size: 0.95em;
}
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
    background: linear-gradient(to right, #ffffff 50%, #3366ff 50%);
}
.hero-text {
    flex: 1 1 400px;
    padding: 20px;
    max-width: 500px;
}
.hero-text h1 {
    font-size: 2.5em;
    color: #222;
    margin-bottom: 20px;
}
.hero-text p {
    font-size: 1em;
    color: #555;
    margin-bottom: 30px;
}
.btn {
    background-color: #3366ff;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}
.btn-register {
    background-color: #00b894;
}
.hero-image {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.hero-image img {
    width: 250px;
    border-radius: 20px;
}
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.85em;
    color: #888;
    background-color: #fff;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 0;
        align-items:start;
    }
    header nav {
        width: 100%;
        padding-top: 1rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        font-size: 1.1rem;
    }
    .hero {
        flex-direction: column;
        padding: 0;
        text-align: center;
        background: #ffffff;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }
    .hero-text h1 {
        font-size: 2em;
    }
    .hero-text p {
        font-size: 110%;
        color: #555;
        margin-bottom: 30px;
    }
    .hero-text a {
        display: block;
        width: 60%;
        margin: 0;
        margin-top: 1rem;
    }

    .hero-image {
        background: #3366ff;
        width: 100%;
        padding: 30px 0;
    }
    .hero-image img {
        width: 180px;
    }
}